.name{
    font-family: "Syncopate", sans-serif;
    font-size: 100px;
    padding: 10px;
    text-align: center;
    text-shadow: 8px 8px 12px rgb(255, 0, 85);
}
body{
    padding: 15px;
}
.Projects{
    font-family: "Syncopate", sans-serif;
    font-size: 100px;
    padding: 10px;
    text-align: center;
    text-shadow: 8px 8px 12px rgb(255, 0, 85);
}
.title{
    font-family: "Syncopate", sans-serif;
    font-size: 100px;
    padding: 10px;
    text-align: center;
    text-shadow: 8px 8px 12px rgb(255, 0, 85);
}
p{
    font-family: "Syncopate", sans-serif;
    text-align: center;
    color: rgb(255, 0, 85);
}
.buttons{
    font-family: "Syncopate", sans-serif;
    color: rgb(255, 0, 85);

}
.icons{
    width: 45px;
    border: none;
    display: inline-block;
    text-align: center;
    margin: 10px;
    justify-content: center;
}
.iconbox{
    text-align: center;
}
.skillsinfo{
    color: rgb(224, 79, 127);
}
.btn-outline-dark{
    background-color: rgb(255, 184, 208) !important;
    color: rgb(255, 0, 43) !important;
}
.btn-outline-dark:hover{
    background-color: rgb(255, 0, 85) !important;
    color: rgb(255, 184, 208)  !important;
}